{% extends "/team/team.html" %}
{% block team_title %}Conveners{% endblock %}
{% block nav_team_conveners %}active{% endblock %}
{% block team_body %}
<div id="main" style="background-image:url(../../static/res/images/events/conveners.jpg);background-size: cover;background-repeat: no-repeat;">
	<div id="panel" class="container">
        <div class="row director-heading">
            Conveners
        </div>
		<div class="row">
            {{ include('/team/image.html', {name:'Ali Yasin', pos:'Director Music', img:'ali_yaseen', number:'0321-1234567', class:'col-xs-12 col-sm-6'}) }}
            {{ include('/team/image.html', {name:'Alizeh Jaffri', pos:'Director Fashion', img:'alizeh_jaffri', number:'0336-4721557', class:'col-xs-12 col-sm-6'}) }}
            {{ include('/team/image.html', {name:'Maira Asaad', pos:'Director Literati', img:'maira_asaad', number:'0332-6247222', class:'col-xs-12 col-sm-6'}) }}
            {{ include('/team/image.html', {name:'Faateh Bin Hamad', pos:'Director Media', img:'pic', number:'0321-1234567', class:'col-xs-12 col-sm-6'}) }}
            {{ include('/team/image.html', {name:'Zain Haroon', pos:'Director Dramatics', img:'zain_haroon', number:'0310-4824390', class:'col-xs-12 col-sm-6'}) }}
            {{ include('/team/image.html', {name:'Shahbano Ali', pos:'Director Arts', img:'shahbano_ali', number:'0300-0846003', class:'col-xs-12 col-sm-6'}) }}
            
<!--
			{{ include('/team/image.html', {name:'Areeb Lutfi', pos:'Director Finance', img:'areeb_lutfi', number:'0331-4191779'}) }}
            {{ include('/team/image.html', {name:'Ayesha Ahmad', pos:'Director Registrations', img:'ayesha_ahmad', number:'0333-4339928'}) }}
            {{ include('/team/image.html', {name:'Abbas Hassan', pos:'Co-Director Registrations', img:'abbas_hassan', number:'0321-4075070'}) }}

			{{ include('/team/image.html', {name:'Ifrah Humayun', pos:'Director Publications', img:'ifrah_humayun', number:'0332-8257108'}) }}
			
            {{ include('/team/image.html', {name:'Muneeb Kashif', pos:'Director IT', img:'muneeb_kashif', number:'0333-4600488'}) }}
            {{ include('/team/image.html', {name:'Zain Kaleem', pos:'Director Dramatics', img:'zain_kaleem', number:'0310-4824390'}) }}
            {{ include('/team/image.html', {name:'Shahbano Ali', pos:'Director Arts', img:'shahbano_ali', number:'03334600488'}) }}
            {{ include('/team/image.html', {name:'Fahad Farid', pos:'Director Socials', img:'fahad_farid', number:'0321-4178717'}) }}
            {{ include('/team/image.html', {name:'Fatima Zahid', pos:'C0-Director Socials', img:'fatima_zahid', number:'0320-4515191'}) }}
            {{ include('/team/image.html', {name:'Raheem Zafar', pos:'Director Security', img:'raheem_zafar', number:'0300-8462977'}) }}
            {{ include('/team/image.html', {name:'Hijaab Fatima', pos:'Co-Director Security', img:'hijaab_fatima', number:'0323-1489005'}) }}
            {{ include('/team/image.html', {name:'Shahrukh Kemall', pos:'Director Logistics', img:'shahrukh_kemall', number:'0321-8402677'}) }}
            {{ include('/team/image.html', {name:'Ahmed Nadeem', pos:'Co-Director Logistics', img:'ahmed_nadeem', number:'0302-4615370'}) }}
            {{ include('/team/image.html', {name:'Abdullah Shahzad', pos:'Director Communications', img:'abdullah_shahzad', number:'0331-6649932'}) }}
            {{ include('/team/image.html', {name:'Osmaan Masood', pos:'Co-Director Communications', img:'osmaan_masood', number:'0323-8465544'}) }}
            {{ include('/team/image.html', {name:'Jamaal Ashraf', pos:'Director Transport/Accomodations', img:'jamaal_asraf', number:'03334600488'}) }}
            {{ include('/team/image.html', {name:'Ayesha Haq', pos:'Director Marketing', img:'ayesha_haq', number:'0332-3363408'}) }}
            {{ include('/team/image.html', {name:'Dania Khan', pos:'Director Photography', img:'dania_khan', number:'0336-8735783'}) }}
-->
		</div>
	</div>
</div>
{% endblock %}
