{% extends "/base.html" %}
{% block title %}{% block events_title %}{% endblock %} | Events | Grammar Fest{% endblock %}
{% block nav_events %}active{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/events.css"/>
{% block events_head %}{% endblock %}
{% endblock %}
{% block navbar_class %}navbar-fixed-top{% endblock %}
{% block body %}
<div id="main" style="{% block event_bg %}{% endblock %}">
	<div class="panel">
		<div class="event-title">{% block event_title %}{% endblock %}</div>
		<div class="event-content">
<!--			<div class="container-fluid">-->
				<div class="row head">
					<div class="col-sm-7">
						<img class="head-pic" src="/static/res/images/team/{% block event_head_pic %}{% endblock %}.jpg"></img>
					</div>
					<div class="col-sm-5 head-details">
						{% block event_head_pos %}{% endblock %} 
						<br/><br class="head-space" />
						{% block event_head_name %}{% endblock %}
					</div>
				</div>
<!--			</div>-->
			{% block event_details %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
{# <script src="/static/js/events.js"></script> #}
{% block events_js %}{% endblock %}
{% endblock %}
