{% extends "/events/events.html" %}
{% block events_title %}Graffiti{% endblock %}
{% block nav_events_arts %}active{% endblock %}
{% block nav_events_graffiti %}active{% endblock %}
{% block event_bg %}
	background-image: url(/static/res/images/events/graffiti.jpg);
{% endblock %}
{% block event_title %}Graffiti{% endblock %}
{% block event_head_pic %}sana_sajid{% endblock %}
{% block event_head_name %}Sana Sajid{% endblock %}
{% block event_head_pos %}event Head{% endblock %}
{% block event_details %}

    {{ include('/events/block.html', {text:"Snobs and posers consider it vandalism, we call it expression! Graffiti is sometimes made use of as a gag and at others a message. It’s time to get your creative juices flowing and your hands dirty: because that’s all with this category is about."}) }}

    {{ include('/events/block.html', {heading:'Theme' }) }}
    Patrotism and Social Awareness.<br>
    Any one topic selected by the participant e.g Poetry, a particular health issue or polio and cancer etc for social awareness. For patriotism, any subject that portrays the love for our country is included.

    {{ include('/events/block.html', {heading:'Rules', list:[
		"Hardboards of size 8x4 will be provided by the management.",
        "All participants should bring their own paints and brushes, sharing is prohibited.",
		"Reference images are allowed.",
        "Participants can only work in poster-paints or acrylics.",
        "Maximum 5 participants in a team are allowed.",
	]}) }}

    {{ include('/events/block.html', {heading:'Structure and criteria', list:[
		"All participants should expect the judging criteria to be along the lines of quality, creativity and adaptation to the rules.",
		"The directors and organizers reserve the right to make any changes to the event.",
		"The competition is not limited to arts students only, anyone can participate.",
        "Everyone MUST refrain from portraying nudity or obscenity.",
        "Each student can give only one submission.",
	]}) }}
    
    {{ include('/events/block.html', {heading:'Awards', list:[
		"1st Position (winner)",
		"2nd Position (runner up)",
		"3rd Position",
	]}) }}

    {{ include('/events/block.html', {heading:'For further queries contact:', }) }}
    Sana Sajid - 0313-0455956
    

{% endblock %}
